:root {
    --primary-color: #181818;

    --text-active-color: #fff;
    --text-primary-color: #20293a;
    --text-secondary-color: #4a5567;
    --text-content-color: #71717a;

    --border-color: #e4e4e7;

    --bg-color: #f5f8fb;
    --bg-active-color: #fff;
}
